  <!-- <div class="container-fluid">
    <div class="row">
      <div class="col" style="border: 1px solid black;"><app-vertical-navbar></app-vertical-navbar></div>
      <div class="col flex-grow-1 flex-fill" style="border: 1px solid red;">
        <app-horizontal-navbar></app-horizontal-navbar>
        <app-portfolio-overview></app-portfolio-overview>
      </div>
    </div>
  </div> -->
  
  <!-- <div class="container-fluid">
    <div class="d-flex">
      <div><app-vertical-navbar></app-vertical-navbar></div>
      <div>
        <app-horizontal-navbar></app-horizontal-navbar>
        <app-portfolio-overview></app-portfolio-overview>
      </div>

    </div>

  </div> -->
  
  <app-vertical-navbar></app-vertical-navbar> 
  <div style="margin-left: 90px;">
    <app-horizontal-navbar></app-horizontal-navbar>
    <router-outlet></router-outlet>
  </div>
        
