<div class="position-fixed h-100" id="portfoliosidebar">
    <nav id="sidebar">
        <ul class="component">
            <li><img src="/assets/images/rectangle.png" alt="rectangle"></li>
            <li><a href="#"><img src="/assets/images/home.png" alt="home">
            <span>Home</span></a></li>
            <li><a href="#"><img src="/assets/images/collections.png" alt="collections">
                <span>Collections</span></a></li>
            <li><a href="#"><img src="/assets/images/marketing_.png" alt="marketing">
                <span>Camapigns</span></a></li>
            <li><a href="#"><img src="/assets/images/product.png" alt="rectangle">
                <span>Products</span></a></li>
        </ul>
    
    </nav>
</div>

